<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <DynamicThresholdFilter key="level" defaultThreshold="ERROR"
                            onMatch="ACCEPT" onMismatch="DENY">
        <KeyValuePair key="DEBUG" value="DEBUG"/>
        <KeyValuePair key="ERROR" value="ERROR"/>
        <KeyValuePair key="INFO" value="INFO"/>
        <KeyValuePair key="TRACE" value="TRACE"/>
        <KeyValuePair key="WARN" value="WARN"/>
        <KeyValuePair key="OFF" value="OFF"/>
    </DynamicThresholdFilter>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>